!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    
    title!= locals.title + ' ...brought to life by Dekko Developer'
    meta(name='description', content='')
    
    meta(name='viewport', content='width=device-width; initial-scale=.8; maximum-scale=1.0;')

    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='stylesheet', href='/fonts/sugar_pie/sugar_pie.css')
    link(rel='stylesheet', href='/fonts/uni_sans/uni_sans.css')
    link(rel='stylesheet', href='/css/app.css')
   
    script(src='js/libs/modernizr-2.5.3.min.js')

  body(class="#{locals.body_class}")
    .container#main
        header#main-header.clearfix(role='banner')
          a.logo(href='/', title='Dekko Developers')
            img(src='/images/logo.png', width="283", height="135") 
          nav.horiz
            ul.menu
              li.features
                a(title="features", href="/features") features
              li.documentation
                a(title="documentations & tools", href="/docs") documentation & tools
              li.support
                a(title="support", href="/support") support
              li.login
                a(title="login", href="/login") login
        div(role='main', id="content").clearfix
          != body
          a.sign-up(title="Sign Up", href="/sign-up")
            img(src="/images/btn-sign-up.png")
        //- - if (locals.body_class == 'home')
        - if(false)
          footer#news.container
            img(src="/images/temp-news.png")
            span#show-footer In the news
            //- .logo.name-1
            //- .logo.name-2
            //- .logo.name-3
            //- .logo.name-4
            //- .logo.name-5
            //- .logo.name-
        .push.clearfix
    footer#main-footer
      .container
        nav.horiz
          ul.menu
            li.home
              a(title="features", href="http://dekko.co") home
            li.about
              a(, href="http://dekko.co/about") about
            li.developer
              a(title="developer", href="http://developer.dekko.co") developer
            li.login
              a(title="press", href="http://dekko.co/press") press
            li.login
              a(title="jobs", href="http://dekko.co/jobs") jobs
            li.login
              a(title="blog", href="http://dekko.co/blog") blog
            li.login
              a(title="contact", href="http://dekko.co/contact") contact
        nav#social
          ul.menu
            li#twitter-link
              a(title="Follow Us on Twitter", href="https://twitter.com/dekkoteam", target="_blank")
                | <span></span>follow us
            li#facebook-link
              a(title="Like us on Facebook", href="https://twitter.com/dekkoteam", target="_blank")
                | <span></span>like us
        #tagline &copy; 2011 -2012 Dekko Inc. Made with an attitude of "How hard can it be?" in SoMA, California. Legals
                
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')

    script(src='js/libs/jquery.easing.1.3.js')

    //- script(defer, src='js/plugins.js')
    script(defer, src='js/script.js')

    script
      var _gaq=[['_setAccount','UA-24089050-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
        
    //if lt IE 7
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', defer)
      script(defer) window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})